
#skills {

    text-align: center;

    h1 {
        margin-bottom: 0;
        display: inline-block;       
        vertical-align: middle;
    }

    img {
        width: 100px;
        height: 100px;
        vertical-align: middle;
    }

    .row-0R {
        background-color: lightblue;
    }

    .row-0L {
        background-color: yellow;
    }
}